<?php
$_htmlId = $this->getElement()->getHtmlId();
$_htmlClass = $this->getElement()->getClass();
$_htmlName = $this->getElement()->getName();
$_readonly = $this->getElement()->getReadonly();
$value = $this->getElement()->getValue();

$resource = Mage::getSingleton('core/resource');
$readConnection = $resource->getConnection('core_read');
$query="SELECT * FROM brand where status='0'";
$res =	$readConnection->fetchAll($query);
?>
<tr>
    <td class="label"><label for="brand">Brand</label></td>
    <td class="value">
        <select class=" select" name="product[brand]" id="brand">
        <option value=""></option>
        <?php foreach($res as $brand){?>
        <option value="<?php echo $brand['brand_id']?>" <?php if($brand['brand_id']==$value){echo 'selected="selected"';}?>><?php echo $brand['title']?></option>
        <?php }?>
        </select>
    </td>
    <td class="scope-label"><span class="nobr"></span></td>
    </tr>