<div class="tot_pad">

 <?php 
$i=1;
 foreach ($this->getItems() as $_item): ?>
        <div class="check_box_tab">
        
            <?php if ($_item->getCount() > 0): ?>
                <a href="<?php echo ($_item->isSelected()) ? $_item->getRemoveUrl() : $_item->getUrl() ?>">
                    <input id="checkbox<?php echo $i?>"class="regular-checkbox" type="checkbox"<?php if ($_item->isSelected()): ?> checked="checked" <?php endif; ?>/>
                    <label for="checkbox<?php echo $i?>"><?php echo $_item->getLabel() ?></label>
                    <?php if ($this->shouldDisplayProductCount()): ?>
                        <span class="count">(<?php echo $_item->getCount() ?>)</span>
                    <?php endif; ?>
                </a>
            <?php else: ?>
                <span>
                    <?php echo $_item->getLabel(); ?>
                    <?php if ($this->shouldDisplayProductCount()): ?>
                        <span class="count">(<?php echo $_item->getCount() ?>)</span>
                    <?php endif; ?>
                </span>
            <?php endif; ?>

        
        </div>
     
    <?php $i++;
    endforeach ?>
</div>
