<!--@subject Order Placed Successfully @-->
<!--@vars
{"var warnings":"Warnings"}
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
        <p>Your Order Has been placed successfully</p>
        <p>your payment is done!</p>
       <p>Order Id : {{var orderconfirm.increment_id}}</p>
       <p>Customer Name : {{var customername}}</p>
       <p>Customer Email : {{var email}}</p>

        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
