<!--@subject Order Cancel Mail @-->
<!--@vars
{"var warnings":"Warnings"}
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
        <p>Please cancel the order from admin</p>
       <p>Order Id : {{var ordercancel.increment_id}}</p>
       <p>Customer Name : {{var customername}}</p>
       <p>Customer Email : {{var email}}</p>
       <p>Comment : {{var comment}}</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
