<!--@subject Contact Form@-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.comment":"Comment"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <p class="highlighted-text">
                <strong>Name</strong>: {{var data.name}}<br/>
                <strong>Email</strong>: {{var data.email}}<br/>
                <strong>Subject</strong>: {{var data.telephone}}<br/>
                <strong>Comment</strong>: {{var data.comment}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}