<!--@subject New Campaign created at flike @-->
<!--@vars
{"var warnings":"Warnings"}
@-->




{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
       <p>Order Id : {{var order.oderid}}</p>
       <p>Customer Email : {{var order.firstname}}</p>
       <p>Customer Email : {{var order.email}}</p>

        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
