<!--@subject Email - Footer @-->
                    <!-- End Content -->
                        <div class="social_icns clearfix">
    <ul>
        <li><a href="https://www.facebook.com" target="blank"><img src ="{{skin url="images/facebook_email.png"}}" /></a></li>
        <li><a href="https://www.twitter.com/" target="blank"><img src ="{{skin url="images/twitter_email.png"}}" /></a></li>
        <li><a href="https://www.linkedin.com/" target="blank"><img src ="{{skin url="images/link_email.png"}}" /></a></li>
        <li><a href="https://plus.google.com/" target="blank"><img src ="{{skin url="images/google_email.png"}}" /></a></li>
	</ul>
    </div>
                    
                    
                    
                    </td>
                </tr>
                <tr>
  
  <td style="background:#0f528a;color:#e3e4e5; text-align:center;padding:20px">© 2015 medicaldepot. All Rights Reserved. </td>  
</tr>
            </table>
          <!--  <h5 class="closing-text">Thank you, {{var store.getFrontendName()}}!</h5>-->
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
