<div class="box-account box-recent">
<?php $_orders = $this->getOrders(); ?>
    <div class="box-head">
        <h2><?php echo $this->__('Recent Orders') ?></h2>
        <?php if( sizeof($_orders->getItems()) > 0 ): ?><a href="<?php echo $this->getUrl('sales/order/history') ?>"><?php echo $this->__('View All') ?></a><?php endif; ?>
    </div>
<?php if( sizeof($_orders->getItems()) > 0 ): ?>
<div class="table-responsive"> 

    <table class="data-table" id="my-orders-table">
    <col width="1" />
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
        <thead>
            <tr>
                <th><?php echo $this->__('Order #') ?></th>
                <th><?php echo $this->__('Date') ?></th>
                <th><?php echo $this->__('Ship To') ?></th>
                <th><span class="nobr"><?php echo $this->__('Order Total') ?></span></th>
                <th><?php echo $this->__('Status') ?></th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($_orders as $_order)://print_r($_order); ?>
                <tr>
                    <td><?php echo $_order->getRealOrderId() ?></td>
                    <td><span class="nobr"><?php echo $this->formatDate($_order->getCreatedAtStoreDate()) ?></span></td>
                    <td><?php echo $_order->getShippingAddress() ? $this->htmlEscape($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
                    <td><?php echo $_order->formatPrice($_order->getGrandTotal()) ?></td>
                    <td><em><?php echo $_order->getStatusLabel() ?></em></td>
                    <td class="a-center">
                        <span class="nobr">
                        <a href="<?php echo $this->getViewUrl($_order) ?>"><?php echo $this->__('View Order') ?></a>
                        <?php if ($this->helper('sales/reorder')->canReorder($_order)) : ?>
                            <span class="separator">|</span> <a href="<?php echo $this->getReorderUrl($_order) ?>" class="link-reorder"><?php echo $this->__('Reorder') ?></a>
                        <?php endif ?>
                        <?php //if ($this->helper('cancelorder/customer')->canCancel($_order)) : ?>
                            <span class="separator">|</span> 
                            <?php $status = $_order->getStatus();

                            if(($status != "cancel_notice") && ($status == "processing") || ($status == "pending")):
                            ?>
                            <div class="link-cancel-order"><a  href="javascript:void(0)" class="link-cancel" orderid="<?php echo $_order->getId(); ?>"><?php echo $this->__('Cancel') ?>
                            </a></div>
                              <?php endif; ?>
                            
                            
                        <?php //endif ?>
                        </span>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    </div>
    <script type="text/javascript">decorateTable('my-orders-table')</script>
<?php else: ?>
    <p><?php echo $this->__('You have placed no orders.'); ?></p>
<?php endif; ?>
</div>
 <script>

    jQuery(document).ready(function() {
    
    
    jQuery(".link-cancel").click(function(){
        var orderid= jQuery(this).attr('orderid');
        jQuery("#orderid").val(orderid);
            jQuery.fancybox({
                 maxWidth   : '310',
                    maxHeight   : 155,
                    href        :'#cancel-box',
                    fitToView   : false,
                    width       : '100%',
                    height      : '100%',
                    autoSize    : false,
                    closeClick  : false,
                    openEffect  : 'none',
                    closeEffect : 'none'
            }); 
        
    });

    jQuery('#cancel-form').submit(function(e){
    //e.preventDefault();
    
    var comment=jQuery('#comment').val();
        if (comment=='') {
            jQuery('#comment_error').html('This is a required field.');
            return false;
        }
        else{
            jQuery('#comment_error').html();
            
            jQuery.ajax({
                type: "POST",
                url: "<?php echo $this->getUrl('sendordercancel1/index/sendmail')?>",
                data: jQuery(this).serialize(),
                success:function(response){
                    jQuery(".fancybox-overlay").modal('hide');
                        //jQuery('html').removeClass('fancybox-margin fancybox-lock');
                        window.location.reload();
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }                  
            });
        }
        }); 
    
  });  
</script> 


<div style= "display:none">
<div id="cancel-box" class="cancel-modal">
<form id="cancel-form" name="cancel-name" method="post" action="<?php echo $this->getUrl('sendordercancel1/index/sendmail')?>">
<input type="hidden" id="orderid" name="orderid">
<textarea name="comment" id="comment" placeholder="Spcify Your Reason"></textarea>
<span id="comment_error" style="color: red;"></span>
<div><input class="button2" type="submit" value="Submit"></div>
</form>
</div>
</div>

  