<?php
$banners=$this->getCollection();
//echo $banners->count();
?>
	<div id="carousel-example-generic" class="carousel fade">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<?php
				$i=0;
			foreach($banners as $sliders)
				{
			?>
			<li data-target="#carousel-example-generic" data-slide-to="<?php echo $i; ?>" class="<?php if($i==0){ echo 'active'; } ?>"></li>
			<?php
				$i++;
				}
			?>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<?php
				$j=0;
				foreach($banners as $slider)
				{
			?>
			<!-- First slide -->
			<div class="item<?php if($j==0){ echo ' active'; } ?>" style="background:url(<?php echo $this->resizeImg($slider->getImage(),1600,524)?>) no-repeat 0 0;">
				<div class="tot_layer"></div>	
				<div class="abs_mid" data-animation="animated zoomIn">
					<div class="inn_absmid">
						<div class="vert_slider">
						<p data-animation="animated bounceInLeft"><?php echo $slider->getTitle(); ?></p>
							<p class="mid" data-animation="animated bounceInRight"><?php echo $slider->getDetails(); ?></p>
							 <a href="<?php echo $slider->getUrl(); ?>" target="_blank" class="btn btn-primary" data-animation="animated zoomInUp"><?php echo $this->__('shop now')?></a>
						</div>
					</div>
				</div>
			</div>
			 <?php
				$j++;
				}
			 ?>	
			 <!-- /.item -->
		</div><!-- /.carousel-inner -->
		
	</div>
