@charset "utf-8";
/* CSS Document */

@media (max-width: 1024px) {
	.bot_header .nav.navbar-nav li a{
		font-size:14px;
		padding:0 9px;	
	}
	.nav_left{
		padding:0;	
	}
	.abs_mid{
		width:90%;
		margin-left:5%;
		left:0;
		height:176px;
		margin-top:-88px;	
	}
	.vert_slider p:first-child{
		font-size:56px;
		line-height:60px;	
	}
	#carousel-example-generic{
		height:335px;	
	}
	.abs_mid .btn-primary {
		font-size: 20px;
		line-height: 27px;
		padding: 6px 30px;
	}
	.left_panel .panel-body a{
		font-size:14px;
		line-height:30px;	
	}
	.select_drop{
		width:65%;	
	}
	.listing_content h4{
		font-size:18px;	
	}
	.left_panel .panel-body .tot_pad{
		background:#fff;
		border:1px solid #034984;
		border-top:none;	
	}
	.right_prodet p.heading{
		width:auto;
		padding-right:15px;	
	}
	.logo_slider .owl-carousel .owl-controls .owl-nav .owl-prev{
		left:0;	
	}
}
@media (max-width: 767px) {
	.nav_left{
		padding:0 15px;	
	}
	.nav_left .nav.navbar-nav{
		margin:0;	
	}
	.bot_header > .container{
		padding-bottom:10px;
		padding-top:10px;	
	}
	header .right_head{
		clear:both;	
	}
	.tot_navicnpanel{
		display:block;	
	}
	.bot_header{
		clear:both;	
	}
	.tot_navicnpanel {
		display: block;
		float: left;
		position: relative;
		width:100%
	}
	.top_foot h5 a{
		display:block;
		color:#fff;	
	}
	.top_foot h5 a:hover{
		color:#fff;	
	}
	.top_foot .col-sm-6{
		border-bottom:1px solid #ccc;	
	}
	.no_mar_mob{
		margin:0;	
	}
	.top_foot .bot_topfoot{
		padding-top:15px;
		border-bottom:none;	
	}
	.top_foot{
		padding:30px 0 40px;	
	}
	.left_panel .panel-heading{
		text-align:left;	
	}
	.logo_slider .owl-carousel .owl-controls .owl-nav .owl-prev{
		left:0;	
	}
	.logo_slider .owl-carousel .owl-controls .owl-nav .owl-next{
		right:0;	
	}
	.breadcrumb li::after{
		position:relative;
		top:2px;
		line-height:22px;	
	}
	.breadcrumb{
		border-top:1px solid #c0c0c0;
		padding:10px 0;	
	}
	.breadcrumb li{
		font-size:14px;
		line-height:22px;	
	}
	.right_prodet {
		clear: both;
		margin-top: 20px;
	}
	.similar_products {
		padding: 35px 15px;
	}
	.similar_products .list_pan:last-child{
		margin-bottom:0;	
	}
}
@media (min-width: 641px) and (max-width: 767px) {
	.navbar-brand {
		float: left;
		max-width: 34%;
		padding: 10px;
	}
	header .right_head{
		float:right;
		clear:none;	
	}
	.left_righthead {
		float: left;
		margin-top: 12px;
	}
	.mini_cart {
		float: right;
		margin-top: 13px;
	}
	.mini_cart a.trigger_mini{
		width:40px;
		height:40px;	
	}
	.mini_cart a.trigger_mini img{
		max-width:100%;	
	}
	.vert_slider p:first-child {
		font-size: 40px;
		line-height: 50px;
	}
	.mob_clear{
		clear:both;	
	}
	.select_drop{
		width:50%;	
	}
	.list_pan{
		float:left;
		width:50%;	
	}
}
@media (max-width: 640px) {
	.navbar-brand{
		width:100%;
		text-align:center;	
	}
	.navbar-brand > img{
		display:inline-block;	
	}
	.mini_cart {
		bottom: -45px;
		clear: both;
		float: left;
		margin-top: 19px;
		position: absolute;
	}
	.mini_cart img{
		max-width:100%;	
	}
	.left_righthead ul li a{
		font-size:14px;	
	}
	.left_righthead p{
		font-size:14px;	
	}
	.mini_cart a.trigger_mini{
		width:40px;
		height:40px;	
	}
	.left_righthead{
		margin-top:5px;	
	}
	.vert_slider p:first-child {
		font-size: 28px;
		line-height: 30px;
	}
	h2{
		font-size:18px;	
	}
	.top_header {
		padding-bottom: 4px;
		padding-top: 4px;
	}
	.left_righthead ul{
		width:100%;
		text-align:center;	
	}
	.left_righthead ul li{
		float:none;
		display:inline-block;	
	}
	.left_righthead p{
		text-align:center;	
	}
	.listing_prod .bx-wrapper{
		position:static;
	}
	.listing_prod{
		position:relative;	
	}
	.navbar-toggle{
		margin-top:6px;	
	}
	.select_drop select{
		background-size:36px;
		padding-right:36px;	
	}
	.select_drop{
		width:100%;
		padding-left:19px;
		margin-bottom:15px;	
	}
	.list_pan{
		clear:both;	
	}
}

