@charset "utf-8";
@charset "utf-8";
/* CSS Document */
/*@media (min-width: 768px) {
 .bot_header .nav.navbar-nav li:hover > ul{
  display:block; 
 }
}*/
@media (max-width: 1024px) {
	.bot_header .nav.navbar-nav li a{
		font-size:14px;
		padding:0 9px;	
	}
	.nav_left{
		padding:0;	
	}
	.abs_mid{
		width:90%;
		margin-left:5%;
		left:0;
		height:176px;
		margin-top:-88px;	
	}
	.vert_slider p:first-child{
		font-size:56px;
		line-height:60px;	
	}
	#carousel-example-generic{
		height:335px;	
	}
	.abs_mid .btn-primary {
		font-size: 20px;
		line-height: 27px;
		padding: 6px 30px;
	}
	.left_panel .panel-body a{
		font-size:14px;
		line-height:30px;	
	}
	.select_drop{
		width:65%;	
	}
	
.category-products .select_drop{
		width:40%!important;	
	}
	
	.listing_content h4{
		font-size:18px;	
	}
	.left_panel .panel-body .tot_pad{
	/*	background:#fff;
		border:1px solid #034984;*/
		border-top:none;	
	}
	.right_prodet p.heading{
		width:auto;
		padding-right:15px;	
	}
	.logo_slider .owl-carousel .owl-controls .owl-nav .owl-prev{
		left:0;	
	}
	


.cart-forms, .cart-totals-wrapper, .crosssell {
    width: 33%;
}

.cart-table {
    float: left;
    width: 61%;
}

#discount-coupon-form .input-text, .cart .giftcard .input-text {
    border-radius: 0;
    height: 37px;
    width: 191px;
}

.cart-table .product-cart-sku .label {
    color: #7c7c7c;
    float: left;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-style: normal;
    padding: 3px 1px 0 0;
}
.create-form .form-list {
    width: 100%;
}

.create-form .form-list .field.name-lastname {
    float: left;
    width: 22%;
}

.create-form .form-list .field.name-firstname {
    float: left;
    margin-right: 15px;
    width: 22%;
}

.create-form .form-list input[type="email"], input[type="search"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"] {
    max-width: 100%;
    width: 460px;
}
.customer-account-create .fieldset, .customer-account-create .buttons-set {
    margin-left: 0;
    max-width: 440px;
}
.left_righthead ul li a {
    font-size: 14px;
    padding: 0 6px;
}


#dd_method_ccsave .year {
  float: right!important;

}
.customer-address-form .form-list .select-box{
	max-width: 100%;
    width:433px;
}

.please-wait {

    left: 0;
    position: absolute;
    top: 100%;
}
.cart-table {
    float: left;
    width: 100%;
}

.left_panel{
	width:100%;
}

.right_panel{
	
	width:100%;	
}
.fa.fa-envelope{

	float:left;
	
}

.fa.fa-mobile{

	float:left;
	
}

body.customer-account .my-account .title-buttons a,
body.customer-account .my-account .title-buttons span.separator {
    float: right!important;
  top: 30px!important;
}

#wishlist-table .item-manage {
    float: left!important;
    width: 100%!important;
}

#wishlist-table textarea {
    float: left!important;
    height: 68px!important;
    width: 100%!important;
}

#wishlist-table .cart-cell {
width:50px!important;
}

#wishlist-table td.customer-wishlist-item-quantity, #wishlist-table td.customer-wishlist-item-price {
  
    text-align: left;

}


.sp-methods .price-box .price, .price {
    font-size: 15px;
    padding-left: 30px;
}

#wishlist-table td.customer-wishlist-item-cart .button {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 6px 8px;
    width: 100px;
}

#wishlist-table .item-manage {
    float: left !important;
    width: 50% !important;
	text-align:left!important;
	padding-left:10px;
}


#wishlist-table textarea {
    float: left !important;
    height: 68px !important;
    width: 50% !important;
}

.opc-wrapper-opc .opc-col-left {
    float: left;
    width: 50%!important;
}
.opc-wrapper-opc .opc-col-center{
	  width: 50%!important;
}

.opc-wrapper-opc .opc-col-right {
    width: 50%!important;
}
.listing_block_heading{
	width:100%;
}
.check-input{
	width:5%;
	float:left;
	position:relative;
	top:2px;
	border:1px #333333 solid;
	padding:6px;
	border-radius:0px;
}


.owl-carousel .owl-stage-outer {
    margin: 0 0 0 40px !important;
    width: 91% !important;
}

.logo_slider .owl-carousel .item .table_item {
    width: 75%!important;
}

.separate-title {
    float: right;
    margin-right: 30px;
    position: relative!important;
    top: 48px!important;
}

.my-wishlist .cart .buttons-set .button, .cart-table .button, .sidebar .actions .button, .button.button-secondary {
    background: #dddddd none repeat scroll 0 0;
    color: #636363;
    margin-right: 3px!important;
    padding: 9px 3px!important;
    width: 82px!important;
}
}
@media (max-width: 768px) {

   .create-form .form-list .field.name-firstname {
    float: left;
    margin-right: 15px;
    width: 28%;
} 
  
  
  .create-form .form-list .field.name-lastname {
    float: left;

    width: 28%;
}

.create-form .form-list input[type="email"], input[type="search"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"] {
    max-width: 100%;
    width:410px;
} 
.customer-address-form .form-list .select-box{
	max-width: 100%;
    width:410px;
}
.customer-account-create .fieldset, .customer-account-create .buttons-set {
    margin-left: 0;
    max-width: 415px;
}

.price_listing{
	font-size:16px;
}

.left_righthead ul li a{
	padding:0px 5px;
	font-size:13px;
}
.select_drop{
	padding-left:20px;
}

#wishlist-table td.customer-wishlist-item-cart .button {
    font-size: 11px;

}

.select_drop{
	  margin-top: 20px;
}

.page-title {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.cart-table {
    float: left !important;
    width: 68%;
}
.logo_slider .owl-carousel .owl-controls .owl-nav .owl-next {
    right: 0;
}
.customer-address-form .select-box .opc_select_drop {
	  
    width: 432px;
}

body.customer-account .my-account .title-buttons a,
body.customer-account .my-account .title-buttons span.separator {
    float: right!important;
  top: 25px!important;
}




#wishlist-table .item-manage {
    float: left!important;
    width: 100%!important;
}

#wishlist-table textarea {
    float: left!important;
    height: 68px!important;
    width: 100%!important;
}

#wishlist-table .cart-cell {
width:50px!important;
}

#wishlist-table td.customer-wishlist-item-quantity, #wishlist-table td.customer-wishlist-item-price {
  
    text-align: left;

}


.sp-methods .price-box .price, .price {
    font-size: 15px;
    padding-left: 30px;
}

#wishlist-table td.customer-wishlist-item-cart .button {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 6px 8px;
    width: 100px;
}


#wishlist-table .item-manage {
    float: left !important;
    width: 50% !important;
	text-align:left!important;
	padding-left:10px;
}


#wishlist-table textarea {
    float: left !important;
    height: 68px !important;
    width: 50% !important;
}
.search_btn {
    right: 0;
}

.textBox{
	font-size:13px;
}

#contactForm{
	width:345px!important;
}

#map_canvas{
		width:100%;
		margin-top:30px;
		margin-bottom:30px;
}
.opc-wrapper-opc .opc-col-left {
    float: left!important;
    width: 100%!important;
}
.opc-wrapper-opc .opc-col-center{
	  width: 100%!important;
	  float: left!important;
}

.opc-wrapper-opc .opc-col-right {
    width: 100%!important;
	float: left!important;
}
.review-total .price, .price {
	padding-left:0px;
}


#wishlist-table .price-box .price {
	padding-left:35px;
}

.category-products .select_drop{
		width:40%!important;	
	}
	
	
.grand_total {
    float: none !important;
    text-align: center!important;
    width: 100%!important;
}


.grand_total span .price {
    float: none !important;
    text-align: center !important;
    width: 100%!important;
}


		.owl-carousel .owl-stage-outer {

    margin-bottom: 0 !important;
    margin-left: 50px!important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    width: 87%!important;
}

.logo_slider .owl-carousel .item .table_item {
    width: 75%!important;
}	

.separate-title {
    float: right;
    margin-right: 30px;
    position: relative!important;
    top: 48px!important;
}
}
@media (max-width: 767px) {
	.nav_left{
		padding:0 15px;	
	}
	.nav_left .nav.navbar-nav{
		margin:0;	
	}
	.bot_header > .container{
		padding-bottom:10px;
		padding-top:10px;	
	}
	header .right_head{
		clear:both;	
	}
	.tot_navicnpanel{
		display:block;	
	}
	.bot_header{
		clear:both;	
	}
	.tot_navicnpanel {
		display: block;
		float: left;
		position: relative;
		width:100%
	}
	.top_foot h5 a{
		display:block;
		color:#fff;	
	}
	.top_foot h5 a:hover{
		color:#fff;	
	}
	.top_foot .col-sm-6{
		border-bottom:1px solid #ccc;	
	}
	.no_mar_mob{
		margin:0;	
	}
	.top_foot .bot_topfoot{
		padding-top:15px;
		border-bottom:none;	
	}
	.top_foot{
		padding:30px 0 40px;	
	}
	.left_panel .panel-heading{
		text-align:left;	
	}
	.logo_slider .owl-carousel .owl-controls .owl-nav .owl-prev{
		left:0;	
	}
	.logo_slider .owl-carousel .owl-controls .owl-nav .owl-next{
		right:0;	
	}
	.breadcrumb li::after{
		position:relative;
		top:2px;
		line-height:22px;	
	}
	.breadcrumb{
		border-top:1px solid #c0c0c0;
		padding:10px 0;	
	}
	.breadcrumb li{
		font-size:14px;
		line-height:22px;	
	}
	.right_prodet {
		clear: both;
		margin-top: 20px;
	}
	.similar_products {
		padding: 35px 15px;
	}
	.similar_products .list_pan:last-child{
		margin-bottom:0;	
	}
	
	.cart-table .product-cart-sku .label{
		font-size:12px;
		padding:0px;
		margin:0px;
	}
	
	
		  .account-login  .new-users{
	width:100%;
	padding:0px 0px;
	margin:0px;
	}
	
	.account-login  .registered-users{
    width: 100%;
	padding:0px 0px 0px 0px;
	margin:0px;
	border:none;
	}
	
	#header-cart{
		display:none;
	}
	
.left_righthead ul li a{
	padding:0px 5px;
	font-size:13px;
}
	.master_card>img{
max-width:100%;
}	
/*.bot_header .nav.navbar-nav li ul.dropdown-menu{
  box-shadow:none;
  border:none;
  background:none;
  left:auto !important;
  top:auto !important;
  padding-left:10px;
  position:relative;
  width:100%; 
 }
 .bot_header .nav.navbar-nav li{
  clear:both; 
 }
 .bot_header .nav.navbar-nav li .caret {
  border: medium none;
  display: block;
  float: right;
  height: 30px;
  margin-left: 2px;
  margin-top: 7px;
  position: relative;
  vertical-align: top;
  width: 30px;
 }
 .bot_header .nav.navbar-nav li .caret:before{
  color: #fff;
  content: "\f196";
  display: block;
  float: right;
  font-family: "FontAwesome";
  font-size: 31px;
  position: absolute;
  top: -7px; 
 }
 .bot_header .nav.navbar-nav li .caret.menu_op:before{
  content: "\f147"; 
 }	
*/

.select_drop {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 0px;
    width: 100%;
}

#discount-coupon-form label, .cart .giftcard label {

    min-width: 100%;
}
.minicart-wrapper {
    display: none;
}

.left_panel{
	width:100%;
}

.right_panel{
	
	width:100%;	
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color:#034984!important;
  color:#38b5ed!important;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color:#034984!important;
  border-color: #337ab7;
}
.nav > li.disabled > a {
  color: #777;
}

.dashboard .col2-set .col-1 .box-title h2, .dashboard .col2-set .col-1 .box-title h3, .dashboard .col2-set .col-2 .box-title h2, .dashboard .col2-set .col-2 .box-title h3{

 width: 100%;
 float:left;
}


.sort-label {
    color: #b9b9b9;
    font-size: 17px;
    margin: 0;
    width: 25%;
}
.page-title {
    float: none;
    margin-bottom: 20px;
    width: 100%;
}

.button2.button3.btn-proceed-checkout.btn-checkout {
    margin-top: 40px;
}

.zoomtracker{
	display:none!important;
}
.no-pad{
	padding:0px 15px;
}

.cart .btn-remove.btn-remove2 {
    display: none;
}

.sub2 {
    border: 1px solid #dbdbdb;
    margin: -17px auto 0 45px;
    padding: 7px 5px;
    width: 75px;
}

.btn-add-cart {
    padding: 10px 30px;
}


.btn-wishlist {
    margin-left: 10px;
    padding: 10px;
}

.img_cont {
    border: 1px solid #e0e0e0;


}

.bot_header .nav.navbar-nav li.parent ul {
	padding-left:25px;
}
.nav_left .active{
		background:#034984!important;
}
.nav_left .active a{
	color:#38b5ed!important;
	background:#034984!important;
	
}
.bot_header .nav.navbar-nav li a:hover{
	color:#034984;	
	background:#034984!important;
}
.pager{
	float:right!important;
	margin-right:10px;
}
.pages{
	float:none!important;
	margin:0px auto;

}
.sorter > .sort-by {
  margin-right: 0px;
  height: 20px;
}

.data-table thead th, .data-table tbody td {
	font-size: 15px;
    padding: 0 10px;
}

#my-orders-table.data-table thead th, .data-table tbody td {
    border-bottom:0px;
}

body.customer-account .my-account .title-buttons a,
body.customer-account .my-account .title-buttons span.separator {
    float: right;
  top: 50px!important;
}

#wishlist-table .item-manage {
    float: left!important;
    width: 100%!important;
}

#wishlist-table textarea {
    float: left!important;
    height: 68px!important;
    width: 100%!important;
}

#wishlist-table .cart-cell {
width:50px!important;
}

#wishlist-table td.customer-wishlist-item-quantity, #wishlist-table td.customer-wishlist-item-price {
  
    text-align: left;

}


.sp-methods .price-box .price, .price {
    font-size: 15px;
    padding-left: 30px;
}
.review-total .price, .price {
	padding-left:0px;
}



#wishlist-table .price-box .price {
	padding-left:35px;
}

#wishlist-table td.customer-wishlist-item-cart .button {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 6px 8px;
    width: 100px;
}

#wishlist-table .item-manage {
	padding-left:0px;
}

.col3-set {
		font-family: 'Open Sans', sans-serif;
		margin-top:30px;
}

#contactForm{
	width:450px!important;
}
.contact-form .form-list input[type="email"], input[type="search"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"] {
    max-width: 100%;
    width:450px!important;
} 
#map_canvas{
		width:100%;
		margin-top:30px;
}

.cms-content{
	width:100%;
	float:left;
	margin:30px 0px 30px 0px;
}

.siteul {
    float: left;
    width: 100%!important;
}


.sitecatul li.cat {
  
    float: left;
    width: 100%!important;
}


.opc-wrapper-opc .opc-col-left .fields .field {
    clear: none;
    float: right;
    width: 100%!important;
}

.opc-wrapper-opc .opc-col-left .fields .input-box {
    float: none !important;
    width: 65% !important;
}

.opc-wrapper-opc .opc-col-center{
	  width: 100%!important;
}

.opc-wrapper-opc .opc-col-right {
    width: 100%!important;
}
.opc-wrapper-opc .opc-col-left .wide {
    width: 100%!important;
}	
.opc-wrapper-opc .opc-col-left {
    float: left;
    width: 100% !important;
}

.opc-wrapper-opc .opc-col-left .fields .input-box {
    float: none !important;
    width:100% !important;
}

.opc-wrapper-opc .opc-col-left .fields .field {
    width: 45%!important;
}


 .customer-account #my-orders-table.data-table {
    border:none;
}

.contact-map{
	width:100%;
	margin:15px 0px 0px 0px!important;
	padding:0px!important;
	
}
.owl-carousel .owl-stage-outer {
    margin: 0 0px!important;
    overflow: hidden;
    position: relative;
}

}
@media (min-width: 641px) and (max-width: 767px) {
	.navbar-brand {
		float: left;
		max-width: 34%;
		padding: 10px;
	}
	header .right_head{
		float:right;
		clear:none;	
	}
	.left_righthead {
		float: left;
		margin-top: 12px;
	}
	.mini_cart {
		float: right;
		margin-top: 13px;
	}
	.mini_cart a.trigger_mini{
		width:40px;
		height:40px;	
	}
	.mini_cart a.trigger_mini img{
		max-width:100%;	
	}
	.vert_slider p:first-child {
		font-size: 40px;
		line-height: 50px;
	}
	.mob_clear{
		clear:both;	
	}
	.select_drop{
		width:50%;	
	}
	.list_pan{
		float:left;
		width:50%;	
	}
	
	
	  .account-login  .new-users{
	width:100%!important;
	padding:0px 20px!important;
	margin:0px;
	}
	
	.account-login  .registered-users{
    width: 100%!important;
	padding:0px 20px 0px 20px!important;
	margin:0px;
	}
	
#dd_method_ccsave .year {
    float: right!important;

}

.bx-wrapper .bx-controls-direction a{
	margin-top:-53px;
}
.search_btn {
    right: 23px!important;
	
}

.contact-map {
    margin: 15px 0 0 !important;
    padding: 0 !important;
    width: 100%!important;
}
. wishlist-shared-index .buttons-set .button {
    background: #dddddd none repeat scroll 0 0;
    color: #636363;
    margin-right: 3px!important;
    padding: 9px 3px!important;
    width: 82px!important;
}
.share-cart{
    background: url(../images/share-cart.png) no-repeat 0 0;
    width: 24px;
    height: 19px;
    position: absolute;
    z-index: 3;
    border: none;
    text-indent: -9999px;
    top: 9px;
    right: 40px;
    padding: 0;	
}
.share-cart:hover{
    background: url(../images/share-cart_hover.png) no-repeat 0 0;
    width: 24px;
    height: 19px;
    position: absolute;
    z-index: 3;
    border: none;
    text-indent: -9999px;
    top: 9px;
    right: 40px;
    padding: 0;	
}

.share-wishlist{
    background: url(../images/share-wishlist.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 3;
    right: 0;
    border: none;
    text-indent: -99999px;
    top: 9px;
    right: 6px;
    padding: 0;	
}
.share-wishlist:hover{
    background: url(../images/share-wishlist_hover.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 3;
    right: 0;
    border: none;
    text-indent: -99999px;
    top: 9px;
    right: 6px;
    padding: 0;	
}
.share-wishlist span{
	display:none;
}
}
@media (max-width: 640px) {
	.navbar-brand{
		width:100%;
		text-align:center;	
	}
	.navbar-brand > img{
		display:inline-block;	
	}
	.mini_cart {
		bottom: -45px;
		clear: both;
		float: left;
		margin-top: 19px;
		position: absolute;
		z-index:1000;
	}
	.mini_cart img{
		max-width:100%;	
	}
	.left_righthead ul li a{
		font-size:14px;	
	}
	.left_righthead p{
		font-size:14px;	
	}
	.mini_cart a.trigger_mini{
		width:40px;
		height:40px;	
	}
	.left_righthead{
		margin-top:5px;	
	}
	.vert_slider p:first-child {
		font-size: 28px;
		line-height: 30px;
	}
	h2{
		font-size:17px;	
	}
	.top_header {
		padding-bottom: 4px;
		padding-top: 4px;
	}
	.left_righthead ul{
		width:100%;
		text-align:center;	
	}
	.left_righthead ul li{
		float:none;
		display:inline-block;	
	}
	.left_righthead p{
		text-align:center;	
	}
	.listing_prod .bx-wrapper{
		position:static;
		/*width:100%;
		float:left;*/
	}
	.listing_prod{
		position:relative;	
		width:100%;
		float:left;
	}
	.navbar-toggle{
		margin-top:6px;	
	}
	.select_drop select{
		background-size:36px;
		padding-right:36px;	
	}
	.select_drop{
		width:100%;
		padding-left:10px;
		margin-bottom:15px;	
	}
	.list_pan{
		clear:both;	
	}

	.create-form .form-list .field.name-lastname {
    float: left;
    width: 47.5%;
}
.create-form .form-list .field.name-firstname {
    float: left;
    margin-right: 14px;
    width: 47.5%;
}	
#wishlist-table .price-box .price {
   line-height:15px;
}
#wishlist-table .item-manage .button {
    float: left;
    max-width: 170px;
    width: 100%;
}

#my-wishlist .buttons-set button.button {
    float: left;
}


.please-wait{

    left: 0;
    position: absolute;
    top: 150%;
}

.cart .page-title{
	border-bottom:0px;
	margin-bottom:30px;
}
.cms .page-title{
width:100%;
float:left;
}
.flex-viewport {
	margin-left:0px;
}
.bx-wrapper .bx-controls-direction a{
	margin-top:-53px;
}
.fa-plus{
	display:none;
}
.opc-wrapper-opc .opc-col-left .wide input[type="text"] {
    width: 100%!important;
}

.contact-map {
    margin: 15px 0 0 !important;
    padding: 0 !important;
    width: 50%;
}


#contactForm {
    width: 260px !important;
}
.category-products .select_drop {
    width: 47% !important;
}

.separate-title {
    float: right;
    margin-right: 30px;
    position: relative!important;
    top: 33px!important;
}

#cart-form .data-table thead th, .data-table tbody td {
    font-size: 15px;
    padding: 0 0px 0px 5px!important;
}

.product-cart-info a {
    display: none!important;
}

.cart  .last .btn-remove.btn-remove2 {
    display: block
}
.sub2 {

    margin: 6px auto 0 45px!important;

}

.share-cart{
    background: url(../images/share-cart.png) no-repeat 0 0;
    width: 24px;
    height: 19px;
    position: absolute;
    z-index: 3;
    border: none;
    text-indent: -9999px;
    top: 9px;
    right: 40px;
    padding: 0;	
}
.share-cart:hover{
    background: url(../images/share-cart_hover.png) no-repeat 0 0;
    width: 24px;
    height: 19px;
    position: absolute;
    z-index: 3;
    border: none;
    text-indent: -9999px;
    top: 9px;
    right: 40px;
    padding: 0;	
}

.share-wishlist{
    background: url(../images/share-wishlist.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 3;
    right: 0;
    border: none;
    text-indent: -99999px;
    top: 9px;
    right: 6px;
    padding: 0;	
}
.share-wishlist:hover{
    background: url(../images/share-wishlist_hover.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 3;
    right: 0;
    border: none;
    text-indent: -99999px;
    top: 9px;
    right: 6px;
    padding: 0;	
}
.share-wishlist span{
	display:none;
}
}
@media (max-width: 480px) {
	.cart-table .product-cart-info .btn-remove{
		margin:0px 10px 0px 0px!important;
	}
	.product-cart-info a {
    display: block!important;
	margin-right:10px;
}

.cart  .last .btn-remove.btn-remove2 {
    display: none
}
	.contact-map {
    margin: 15px 0 0 !important;
    padding: 0 !important;
    width: 100%;
}
	  .search_btn {
    right: 23px !important;
	margin:0px !important;
}

.opc-wrapper-opc .opc-col-left .wide input[type="text"] {
    width: 100%!important;
}

.category-products .select_drop {
    width: 59% !important;
}


.listing_block_heading {
    padding: 10px!important;
  
    width: 100%!important;
}

		.owl-carousel .owl-stage-outer {

    margin-bottom: 0 !important;
    margin-left: 40px!important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    width: 80%!important;
}

.logo_slider .owl-carousel .item .table_item {
    width: 75%!important;
}

.separate-title {
    float: right;
    margin-right: 30px;
    position: relative !important;
    top: 0 !important;
}
.share-cart{
    background: url(../images/share-cart.png) no-repeat 0 0;
    width: 24px;
    height: 19px;
    position: absolute;
    z-index: 3;
    border: none;
    text-indent: -9999px;
    top: 9px;
    right: 40px;
    padding: 0;	
}
.share-cart:hover{
    background: url(../images/share-cart_hover.png) no-repeat 0 0;
    width: 24px;
    height: 19px;
    position: absolute;
    z-index: 3;
    border: none;
    text-indent: -9999px;
    top: 9px;
    right: 40px;
    padding: 0;	
}

.share-wishlist{
    background: url(../images/share-wishlist.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 3;
    right: 0;
    border: none;
    text-indent: -99999px;
    top: 9px;
    right: 6px;
    padding: 0;	
}
.share-wishlist:hover{
    background: url(../images/share-wishlist_hover.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 3;
    right: 0;
    border: none;
    text-indent: -99999px;
    top: 9px;
    right: 6px;
    padding: 0;	
}
.share-wishlist span{
	display:none;
}
}
@media (max-width: 360px) {
	.opc-wrapper-opc .opc-col-left .fields .field {
	 width:100%!important;
}
.opc-wrapper-opc .opc-col-left .fields input[type="text"], .opc-wrapper-opc .opc-col-left .fields input[type="password"] {
    width: 100% !important;
}

.opc-wrapper-opc .opc-col-left .wide {
    width: 67%!important;
}
.opc-wrapper-opc .opc-col-left .wide input[type="text"] {
    width: 100%!important;
}


.opc-wrapper-opc .opc-col-left .fields .select-field {
    float: none!important;
    width: 100%!important;
}

.opc-wrapper-opc .opc-col-left .input-box {width:330px!important;}
#billing-address-select > option {
    width: 325px;
}

#contactForm{
	width:330px!important;
}

.category-products .select_drop{
		width:100%!important;	
	}
	
	
		.owl-carousel .owl-stage-outer {

    margin-bottom: 0 !important;
    margin-left: 40px!important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    width: 80%!important;
}

.logo_slider .owl-carousel .item .table_item {
    width: 75%!important;
}
.separate-title {
    display: block!important;
    float: left!important;
    position: relative!important;
    top: 32px!important;
}	

.share-cart{
    background: url(../images/share-cart.png) no-repeat 0 0;
    width: 24px;
    height: 19px;
    position: absolute;
    z-index: 3;
    border: none;
    text-indent: -9999px;
    top: 9px;
    right: 40px;
    padding: 0;	
}
.share-cart:hover{
    background: url(../images/share-cart_hover.png) no-repeat 0 0;
    width: 24px;
    height: 19px;
    position: absolute;
    z-index: 3;
    border: none;
    text-indent: -9999px;
    top: 9px;
    right: 40px;
    padding: 0;	
}

.share-wishlist{
    background: url(../images/share-wishlist.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 3;
    right: 0;
    border: none;
    text-indent: -99999px;
    top: 9px;
    right: 6px;
    padding: 0;	
}
.share-wishlist:hover{
    background: url(../images/share-wishlist_hover.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 3;
    right: 0;
    border: none;
    text-indent: -99999px;
    top: 9px;
    right: 6px;
    padding: 0;	
}
.share-wishlist span{
	display:none;
}
}

@media (max-width: 320px) {
.opc-wrapper-opc .opc-col-left .input-box {width:290px!important;}

#billing-address-select > option {
    width: 286px;
}
#contactForm{
	width:290px!important;
}

.category-products .select_drop{
		width:100%!important;	
	}
	
	.owl-carousel .owl-stage-outer {

    margin-bottom: 0 !important;
    margin-left: 40px!important;
    margin-right: 40px !important;
    margin-top: 0 !important;
    width: 80%!important;
}

.logo_slider .owl-carousel .item .table_item {
    width: 75%!important;
}
.share-cart{
    background: url(../images/share-cart.png) no-repeat 0 0;
    width: 24px;
    height: 19px;
    position: absolute;
    z-index: 3;
    border: none;
    text-indent: -9999px;
    top: 9px;
    right: 40px;
    padding: 0;	
}
.share-cart:hover{
    background: url(../images/share-cart_hover.png) no-repeat 0 0;
    width: 24px;
    height: 19px;
    position: absolute;
    z-index: 3;
    border: none;
    text-indent: -9999px;
    top: 9px;
    right: 40px;
    padding: 0;	
}

.share-wishlist{
    background: url(../images/share-wishlist.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 3;
    right: 0;
    border: none;
    text-indent: -99999px;
    top: 9px;
    right: 6px;
    padding: 0;	
}
.share-wishlist:hover{
    background: url(../images/share-wishlist_hover.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 3;
    right: 0;
    border: none;
    text-indent: -99999px;
    top: 9px;
    right: 6px;
    padding: 0;	
}
.share-wishlist span{
	display:none;
}
}
/* CSS Document */

