@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);

body{
	background:#f4f4f4;
	font-family: 'Open Sans', sans-serif;
}
a:hover, a:focus {
    color: #034984;
    text-decoration: none;
}

/*............common styles..........*/
.nav_left .active{
	background:#38b5ed;
	color:#fff;
}

.m30{
	margin-bottom:30px;	
}
.mini_cart .button.quantity-button {
    border: 1px solid #fff!important;
    width: 39px!important;
}
.textBox{
	font-size:16px;
	line-height:18px;
	padding:8px 15px;
	background:#fff;
	border:none;
	-webkit-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	font-family: 'Lato', sans-serif;	
}
.textBox:focus{
	background:#D8F0FB;
	color:#000;
}
.textBox_bord_variety{
	background:transparent;
	border:1px solid #d6d6d6;
	font-size:16px;
	line-height:40px;
	color:#414141;	
	height:40px;
}
h2{
	font-size:24px;
	line-height:30px;
	color:#000000;
	font-family: 'Lato', sans-serif;	
}
h3{
		
}
.check_box_tab {
    position: relative;
	width:100%;
	float:left;
}
.check_box_tab input[type="checkbox"], .check_box_tab input[type="radio"] {
    position: absolute;
    left: -99em;
}
.check_box_tab input[type="checkbox"] + label,.check_box_tab input[type="radio"] + label {
	padding-left: 27px;
    font-size: 17px;
    color: #777777;
    line-height: 35px;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: normal;
}
.check_box_tab input[type="checkbox"] + label:before {
    content: '\f096';
    width: 17px;
    height: 17px;
    position: absolute;
    left: 0px;
    top: 2px;
    font-family: 'FontAwesome';
    font-size: 18px;
    color: #034984;
}
.check_box_tab input[type="checkbox"]:checked + label:before {
    position: absolute;
    left: 0px;
    top: 2px;
    content: '\f046';
    width: 17px;
    height: 17px;
    font-family: 'FontAwesome';
}
.check_box_tab input[type="radio"] + label:before {
    content: '\f10c';
    width: 17px;
    height: 17px;
    position: absolute;
    left: 0px;
    top: 2px;
    font-family: 'FontAwesome';
    font-size: 18px;
    color: #034984;
}
.check_box_tab input[type="radio"]:checked + label:before {
    position: absolute;
    left: 0px;
    top: 2px;
    content: '\f05d';
    width: 17px;
    height: 17px;
    font-family: 'FontAwesome';
}
.m60{
	margin-bottom:60px;	
}


/* Animation delays */
.abs_mid{
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}
.vert_slider p:first-child {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
	font-size:70px;
	text-transform:uppercase;
	line-height:74px;
	color:#fff;
	font-weight:700;
	font-family: 'Lato', sans-serif;
}
.vert_slider p:nth-child(2) {
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	font-size:17px;
	line-height:24px;
	color:#fff;
	text-align: center;
	margin-top:15px;
	margin-bottom:20px;
}
.vert_slider a.btn-primary {
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#carousel-example-generic{
	position:relative;	
}
#carousel-example-generic .item{
	background-size:cover !important;
	background-position:0 0;
	background-repeat:no-repeat;	
}
/*..................header section.............*/

.top_header{
	padding-top:15px;
	padding-bottom:4px;	
}
.left_righthead ul{
	padding-left:0;
	margin-bottom:0;	
}
.left_righthead ul li{
	float:left;		
	border-left:1px solid #888888;
	margin-bottom:5px;
	list-style-type:none;	
}
.left_righthead ul li a{
	font-size:16px;
	line-height:20px;
	color:#888888;
	padding:0 10px;
	font-family: 'Lato', sans-serif;	
}
.left_righthead ul li a:hover{
	color:#034984;	
}
.left_righthead ul li:first-child{
	border-left:none;	
}
.left_righthead ul li:last-child a{
	padding-right:0;	
}
.left_righthead{
	margin-top:25px;	
}
.left_righthead p{
	font-size: 16px;
    line-height: 20px;
    color: #888888;
    display: block;
    clear: right;
	font-family: 'Lato', sans-serif;	
}
.left_righthead p a{
	color: #888888;	
}
.mini_cart{
	margin-top:19px;	
}
.mini_cart a.trigger_mini{
	position:relative;
	display: block;
    width: 57px;
    height: 57px;
	font-family: 'Lato', sans-serif;	
}
.mini_cart a.trigger_mini span{
	   font-size: 16px;
    line-height: 35px;
   width:35px;
   height:35px;
	color:#fff;
	text-align:center;
	border-radius:100%;
	background:#38b5ed;
	position:absolute;
	right:-5px;
	top:-5px;	
}
.bot_header{
	background:#034984;
	border-bottom:4px solid #38b5ed;	
}
.bot_header .nav.navbar-nav{
	padding-left:0;
}
.bot_header .nav.navbar-nav li{
	list-style-type:none;	
}
.bot_header .nav.navbar-nav li a{
	font-size:18px;
	line-height:46px;
	color:#fff;
	padding:0 12px;
	font-family: 'Lato', sans-serif;	
}
.bot_header .nav.navbar-nav li a:hover{
	color:#034984;	
}
.bot_header .nav.navbar-nav li.parent .active{
		background:#034984;
}
.bot_header .nav.navbar-nav li.parent ul {
    padding-left: 0px;
	background:#034984;
}

.search_cont{
	width:100%;
	position:relative;	
}
.search_cont .textBox{
	height:34px;
	width: 100%;
    margin-top: 5px;	
}
.search_btn{
    background: url(../images/search_icn.png) no-repeat 0 0;
    width: 27px;
    height: 27px;
    position: absolute;
    z-index: 3;
    right: 0;
    border: none;
    text-indent: -9999px;
    top: 9px;
    right: 6px;
    padding: 0;	
}

.cancel-modal textarea{
	margin-bottom:10px;
	border-radius:0px;
	border:1px #ccc solid;
}

/*........slider............*/

.tot_layer{
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
}
.abs_mid{
	width:800px;
	height:250px;
	position:absolute;
	top:50%;
	margin-top:-125px;
	left:50%;
	margin-left:-400px;
	z-index: 5;
	text-align:center;	
}
.abs_mid .btn-primary{
	font-size:23px;
	line-height:30px;
	padding:11px 30px;
	background:transparent;
	border:2px solid #fff;
	color:#fff;
	display:inline-block;	
}

.abs_mid .btn:hover{
   color:#38b5ed;
}
.abs_mid .btn-primary:hover{
	border:2px solid #38b5ed;
	color:#38b5ed!important;
}

/*.............maincontent...............*/

.maincontent{
	padding:25px 0 30px;	
}

.left_panel{
	margin-top:15px;
}
.left_panel .panel-default{
	border:none;
	box-shadow:none;
	-webkit-box-shadow:none;
	background-color:transparent;	
}
.left_panel .panel-heading{
	font-size:20px;	
	line-height:24px;
	color:#f4f4f4;
	padding:12px 20px;
	background:#034984;
	border-radius:0;
	border:none;
	width:100%;
	float:left;
	margin-bottom:15px;
	text-transform:uppercase;
}
.left_panel .panel-body{
	font-size:17px;
	line-height:35px;
	padding:0;	
	clear:both;
}
.left_panel .panel-body .tot_pad{
	padding:15px 20px;	
}
.left_panel .panel-body a{
	font-size:17px;
	line-height:35px;
	color:#777777;
	display:block;	
}
.left_panel .panel-body a:hover{
	color:#034984;	
}
.left_panel .panel{
	margin-bottom:30px;	
	overflow:hidden;
}
.left_panel .panel-body img{
	width:100%;	
}
.left_panel .panel-body.special_padd{
	padding:15px;	
}
.listing_block_heading {
    float: left;
    margin-bottom: 25px;
    margin-left: 1%;
    padding-bottom: 10px;
    position: relative;
    width: 97%;
}
.listing_block_heading h2{
	margin:0 0px 0px 0px;
	text-transform:uppercase;
	padding-bottom:7px;
	border-bottom:5px solid #033333;
	position:relative;
	z-index: 3;	
	top: 9px;
}
.listing_block_heading h2::before{
	content:'';
	position:absolute;
	border-top:10px solid #033333;
	border-left:10px solid transparent;
	border-right:10px solid transparent;	
	bottom:-10px;
	left:50%;
	margin-left:-5px;
}
.listing_block_heading:after{
	content:'';
	width:100%;
	height:1px;
	background:#ebebeb;
	position:absolute;
	bottom:0;
	z-index: 2;
	left: 0;	
}





.page-title{
	float:left;
}


.form-create{    float: left;
    margin-top: 40px;
    width: 100%;
}

.cart .form-create{ 
  margin-top: 20px;
}
.page-title h1{
	margin:0 0px 0px 0px;
	text-transform:uppercase;
	padding-bottom:7px;
	border-bottom:5px solid #033333!important;
	position:relative;
	z-index: 3;	
	top: 20px;
}
.page-title h1::before{
	content:'';
	position:absolute;
	border-top:10px solid #033333;
	border-left:10px solid transparent;
	border-right:10px solid transparent;	
	bottom:-10px;
	left:50%;
	margin-left:-5px;
}
.page-title:after{
	content:'';
	width:100%;
	height:1px;
	position:absolute;
	bottom:0;
	z-index: 2;
	left: 0;	
}










.img_cont{
	border:1px solid #e0e0e0;
	
}
#bx_1 > li{
	max-width:265px;
	float:left;
	margin-right:24px;	
}
#bx_1 > li:last-child{
	margin-right:0px;
}
.listing_content{
	margin-top:50px;	
}
.listing_content h4{
	font-size: 20px;
    line-height: 26px;
    color: #333333;
    margin: 0;
    padding-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	text-transform:capitalize;	
}
.price_listing{
	font-size:17px;
	line-height:22px;
	color:#349dcd;
	display:block;
	font-family: 'Lato', sans-serif;
	margin-bottom: 16px;	
}
.price_listing strike{
	color:#143b5c;
	border-right:1px solid #143b5c;
	padding-right:5px;
	margin-right:5px;	
}
.bx-wrapper .bx-controls-direction a{
	width:27px;
	height:27px;
	border:1px solid #dbdbdb;
	border-radius:3px;
	font-size:20px;
	color:#d6d7d7;
	margin-top: 0px;	
}

.bx-wrapper .bx-controls-direction a:hover{
border:1px solid #034984	
}
.bx-wrapper .bx-controls-direction a.bx-prev{
	right:33px;	
	background:url(../images/prev_arr.png) no-repeat center center;
}

.bx-wrapper .bx-controls-direction a.bx-prev:hover{
	right:33px;	
	background:url(../images/prev_arr_hover.png) no-repeat center center;
}

.bx-wrapper .bx-controls-direction a.bx-next{
	right:0;
	background:url(../images/next_arr.png) no-repeat center center;	
}

.bx-wrapper .bx-controls-direction a.bx-next:hover{
	right:0;
	background:url(../images/next_arr_hover.png) no-repeat center center;	
}
.bx-pager{
	display:none;
}	




/*............logo_slider styles..........*/

.logo_slider{
	background:url(../images/company_slideback.jpg) repeat 0 0;
	height:107px;
	position:relative;	
}
.logo_slider .owl-carousel .item img{
    max-width: 100%;
    width: auto;
    display: block;
    margin: 0 auto;	
}
.logo_slider .owl-carousel .item{
	text-align:center;	
}
.logo_slider .owl-carousel .item .table_item{
	display:table;
	height:107px;
	table-layout:fixed;
	width:100%;	
}
.logo_slider .owl-carousel .item .table_cellitem{
	display:table-cell;
	vertical-align:middle;
	height:107px;	
}
.logo_slider .owl-controls{
	position: absolute;
    top: 36px;
    width: 100%;	
}
.logo_slider .owl-carousel .owl-controls .owl-nav .owl-prev,.logo_slider .owl-carousel .owl-controls .owl-nav .owl-next{
	width:37px;
	height:37px;
	font-size:27px;
	color:#7d7d7d;	
	position:absolute;
}
.logo_slider .owl-carousel .owl-controls .owl-nav .owl-next{
	right:-35px;	
}
.logo_slider .owl-carousel .owl-controls .owl-nav .owl-prev{
	left:-35px;	
}

/*...........footer styles.................*/

.top_foot{
	background:#373737;
	padding:65px 0;	
}
.top_foot h5{
	font-size:20px;
	color:#ffffff;
	line-height:26px;
	font-family: 'Lato', sans-serif;
	text-transform:capitalize;		
}
.top_foot ul{
	padding:0;	
}
.top_foot p,.top_foot a{
	font-size:17px;
	line-height:25px;
	color:#d0d0d0;
	font-family: 'Lato', sans-serif;
	display:block;	
}
.top_foot p i,.top_foot a i{
	width:30px;	
	font-size:18px;
	text-align:center;
}

.top_foot  .fa-mobile{
	font-size:27px;
}
.top_foot a:hover{
	color:#38b5ed;	
}
.top_foot ul li{
	list-style-type:none;	
}
.top_foot ul li a{
	font-size:17px;
	color:#d0d0d0;
	line-height:34px;
	display:block;
	font-family: 'Lato', sans-serif;	
}
.top_foot h5 a{
	color:#fff;
	display:none;	
}
.social_icns{
	margin-top:20px;
	margin-bottom:20px;	
}
.social_icns li{
	float:left;
	margin-right:10px;
	width:39px;
	height:39px;
	border:1px solid #d0d0d0;
	border-radius:2px;
}
.social_icns li.fb:hover{
	background-color:#3b5998;	
}
.social_icns li.twit:hover{
	background-color:#4099FF;	
}
.social_icns li.linked:hover{
	background-color:#0e76a8;	
}
.social_icns li.goog_plus:hover{
	background-color:#d34836;	
}
.social_icns a{
	display:block;
	width:39px;
	height:39px;
	color:#d0d0d0;
	font-size:18px;		
	display:table;	
	table-layout:fixed;
	text-align:center;
}
.social_icns a span{
	display:table-cell;
	vertical-align:middle;
	height:37px;
	width: 37px;	
}
.social_icns li:hover a{
	color:#fff;	
}
.bot_foot{
	background:#232323;	
}
.bot_foot p{
	margin:0;
	font-size:15px;
	line-height:81px;
	color:#9e9f9f;	
}

/*..........product_listing..............*/

.breadcrumb{
    border-bottom: 1px solid #c0c0c0;
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;	
}
.breadcrumb ul{
	padding-left:0;
	margin-bottom: 0;	
}
.breadcrumb li{
	float: left;
    list-style-type: none;
    font-size: 16px;
    line-height: 52px!important;
    color: #333333;
    margin-right: 10px;	
}
.breadcrumb li:after{
	content: '\f105';
    font-family: 'FontAwesome';
    font-size: 20px;
    line-height: 50px;
    color: #333333;
    margin-left: 10px;	
}
.breadcrumb li:last-child:after{
	display:none;	
}
.list_pan{
	margin-bottom:70px;	
}
.select_drop{	
	border: 1px solid #dddddd;
    padding-left:15px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 3px;
	margin-top: -3px;	
}
.select_drop p{
	font-size:17px;
	color:#b9b9b9;
	width:26%;
	margin:0;	
}
.select_drop select{
    font-size: 17px;
    color: #b9b9b9;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    width:60%;
    float: right;
    border: none;
    background: transparent url(../images/sel_arr.jpg) no-repeat right center;
    padding-right: 58px;
    outline: 0;	
}


.selected select{
    font-size: 17px;
    color: #b9b9b9;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    width:60%;
    float: right;
    border: none;
    background: transparent url(../images/drop_arr.png) no-repeat right center;
    padding-right: 58px;
    outline: 0;	
}
.right_prodet h2{
	color:#414141;
	padding-bottom:10px;
	border-bottom:3px solid #c7c7c7;
	margin-top:0;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 20px;	
}
.right_prodet p.price_det{
	font-size:20px;
	line-height:30px;
	color:#414141;
	font-weight:800;
	margin-bottom:13px;	
}



.right_prodet p.desc_text{
	font-size:16px;
	line-height:30px;
	color:#414141;
	font-weight:700;	
}
.desc_fulltext p{
	font-size:17px;
	line-height:24px;
	color:#7c7c7c;	
}
.right_prodet p.heading{
    font-size: 16px;
    line-height: 40px;
    color: #414141;
    float: left;
    margin-bottom: 0;
    position: relative;
     text-transform: uppercase;
    width: 30%;
    margin-right: 15px;	
}
.right_prodet p.heading:after{
    content: ':';
    margin-right: 0;
    position: absolute;
    right: 0;	
}
.right_prodet .total_oneline small{
	font-size:16px;
	line-height:40px;
	color:#414141;
	float:left;
	margin-bottom:0;	
}
.right_prodet .textBox_bord_variety{
	width:44px;	
}
.total_oneline {
    float: left;
    width: 100%;
}
.btn-lightblue{
	background:#38b5ed;
	color:#fff;	
}
.btn-lightblue i{
	color:#fff;
	margin-right:15px;
	font-size:20px;	
}
.btn-add-cart{
	padding:10px 50px 9px 50px;	
}


.btn-add-cart-1{
	padding:10px 50px 10px 50px;	
}
.btn-grey{
	background:#7e7e7e;
	color:#fff;	
}
.btn-primary i{
	font-size:20px;
	vertical-align: middle;	
}
.btn-wishlist{
	padding:9px 10px;
	margin-left:10px;	
}


.top_prod_details{
	padding-bottom:55px;
	border-bottom:1px solid #dadada;	
	margin-bottom:20px;
}
.img_cont img {
    width: 100%;
	border:1px #fff  solid;
}

.img_cont img:hover {
    width: 100%;
	border:1px #034984  solid;
}
.similar_products h6{
	font-size:24px;
	line-height:30px;
	color:#414141;
	font-family: 'Oswald', sans-serif;
	font-weight:700;
	margin-bottom:45px;	
}
.similar_products{
	padding-top:35px;	
}
.collapse_icn {
    color: #fff;
    background-color: transparent;
    border: none;
    outline: 0 !important;
}
.collapse_icn:hover{
	color:#fff;	
}
.navbar-toggle{
	border-color:#ccc;	
}
.navbar-toggle .icon-bar{
	background:#ccc;	
}
.tot_navicnpanel{
	display:none;	
}
header .dropdown-menu{
	background:#38B5ED;	
}


.benefits li{
background-image: url(../images/bullet.png);
  background-position: 4px 10px;
    background-repeat: no-repeat;
    padding: 3px 0 0 19px;
}

.col2-set .registered-users h2, .col2-set .new-users h2{
	color: #414141;
    font-family: "Lato",sans-serif;
    font-size: 25px;
    line-height: 30px;
    text-transform: capitalize;
}

#discount-coupon-form .input-text,
.cart .giftcard .input-text {
  border-radius: 0;
  height: 37px;
  margin: 4px 0px 0 0;
  width: 177px;
}
.create-form .form-list {
    width: 535px;
}

.create-form .form-list .field.name-firstname {
    float: left;
    margin-right: 15px;
    width: 45%;
}

.create-form .form-list .field.name-lastname {
    float: left;
    width: 45%;
}

.clearfix{
	clear:both;
}
.form-list label { color: #414141;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: normal;
}
   .account-login  .new-users{
	width:45%;
	padding:0px;
	margin:0px;
	}
	
	.account-login  .registered-users{
    width: 55%;
    border-left: 1px #e2e2e2 solid;
	padding:0px 0px 0px 50px;
	margin:0px;
	}
	#minicart-success-message{
		background:#eff5ea;
		text-align:center;
	}
	
	
	
	
	
	
	.opc_select_drop{	
	appearance:none;
    -moz-appearance: none;
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    font-size: 15px;
    height:35px;
    padding:0px 8px;
    border-radius: 3px;
	margin-top: -3px;
	margin-bottom:12px;
	border:1px silver solid;	
}

.opc_select_drop select{
    font-size: 17px;
    color: #b9b9b9;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    width: 72%;
    float: right;
    border: none;
    background: transparent url(../images/dropdown.png) no-repeat 96% 53%;
    padding-right: 58px;
    outline: 0;	
}
.check-input{
	width:5%;
	float:left;
	position:relative;
	top:2px;
}
	
.check-label{
	width:95%;
	float:left;
}	
	
 #dd_method_ccsave .month{
	width:45%;
	float:left;
	margin-right:30px;
}


 #dd_method_ccsave .year{
	width:45%;
	float:left;

}
 #dd_method_ccsave .opc-wrapper-opc p.required {
	font-size: 14px;
    text-align: right;
 }

.opc_select_expiry{	
	appearance:none;
    -moz-appearance: none;
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    font-size: 15px;
    height:35px;
    padding:0px 8px;
    border-radius: 3px;
	margin-top: -3px;
	margin-bottom:12px;
	border:1px silver solid;	
}

.opc_select_expiry select{
    font-size: 17px;
    color: #b9b9b9;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    width: 72%;
    border: none;
    background: transparent url(../images/dropdown.png) no-repeat 96% 60%;
    padding-right: 58px;
    outline: 0;	
}

.dashboard  .hello > strong{
    font-size: 20px;
    font-weight: normal;
}
.dashboard  .hello p{
font-size:14px;	
	}
	
.bot_header .nav.navbar-nav li{
 position:relative; 
}

.bot_header .nav.navbar-nav li ul{
 min-width:235px; 
}
.bot_header .nav.navbar-nav li ul ul{
 top:0;
 left:101%; 
}
.clearfix{
	clear:both;
}
.sort-label{
	 color: #b9b9b9;
    font-size: 17px;
    margin: 0;
    width: 26%;
	}
.listing_block_heading .pager{
	display:none;
}
.listing_block_heading_bottom .select_drop{
	display:none;
}
.bottom-pager{ border-top:1px solid #ececec;width:100%;float:left;}


.edit-link {
    color: #034984 !important;
    font-size: 13px !important;
    text-transform: capitalize !important;
	margin-top:6px;
	display:block;
}
.edit-link:hover {
    color: #034984 !important;
    font-size: 13px !important;
    text-transform: capitalize !important;
	margin-top:6px;
	text-decoration:underline;
	display:block;
}

.select-box{
	    width: 390px;
		border-radius:0px;
}


.select-box .opc_select_drop select{
	width:100%;
}

.show_drop select{
    font-size: 15px;
    color: #b9b9b9;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
	       font-family: 'Open Sans', sans-serif;
    width:43%;
    float: right;
    border: none;
    background: transparent url(../images/dropdown.png) no-repeat 85% 50%;
    outline: 0;	

}

.show_drop {	
	border: 1px solid #dddddd;
    padding-top: 4px;
    padding-bottom: 4px;
	
}
.smh2{
	  border-bottom: 1px solid #e1e1e1;
    display: block;
    font-size: 1.4em;
    padding: 10px 0;
}


.cat ul li{
			padding:0px 0px 10px 0px;
		  color: #777777;
}
.cat ul li a{
			padding:0px 0px 10px 0px;
		  color: #777777;
}
.siteul li{
		padding:0px 0px 10px 0px;
		  color: #777777;
}

.siteul li:hover{
		padding:0px 0px 10px 0px;
		  color: #034984;
}

.siteul li a {
    color: #777777;
    font-size: 1em !important;
    list-style: inside none square;

}

.siteul li a:hover {
    color: #034984;
    font-size: 1em !important;
    list-style: inside none square;

}

.strongsm {
    color: #777777;
    display: block;
    font-size: 1.4em;
    font-weight: 500;
}

label.heading{
	
	 font-size: 16px;
    line-height: 40px;
    color: #7c7c7c;
    float: left;
	font-weight:normal;
    margin-bottom: 0;
    position: relative;
    margin-right: 15px;
}
.please-wait{

    left: 0;
    position: absolute;
    top: 100%;
}

 .catalogsearch-result-index .page-title h1{
	 display:none;
 }
 
 
 .note-msg {
    border-bottom: 1px solid #ccc;
    color: #337ab7;
    font-size: 25px;
    padding-bottom: 10px;
    text-align: left;
}

.form-create{    float: left;
    margin-top: 40px;
    width: 100%;
}
.advance-search .error-msg {
    float: left;
    width: 100%;
}
.advance-search .form-create{
	  margin-top: 0px;
}

#carousel .slides li a{
}
#carousel .slides li a.active{

	background: #349dcd none repeat scroll 0 0;
	display:block;
	position:relative;
	padding:3px;
}
#carousel .slides li  a.active::after {
    border-bottom-color: #349dcd;
    border-width: 8px;
    margin-left: -8px;
}
#carousel .slides li a.active::after {
    border: medium solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 50%;
    pointer-events: none;
    position: absolute;
    width: 0;
}
#carousel .slides  li a.active:after {
    border-bottom: 8px solid #349dcd;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-width: 8px;
    display: inline-block;
    left: 46px;
    margin-left: -8px;
    position: absolute;
	
}


.sub2 {
    border: 1px solid #dbdbdb;
    margin: 0px auto 0;
    padding: 7px 5px;
    width: 75px;
}
.sub2A {
    float: left;
    line-height: 12px;
    margin: 0;
    padding: 0;
    width: 72%;
}
.sub2B {
    float: left;
    line-height: 12px;
    margin: 0;
    padding: 2px 0 0 3px;
    width: 23%;
}
.sub2B .space_lower {
    height: 10px;
    margin: 0 0 1px;
    padding: 0;
}

.mini_cart .button.quantity-button {
    border: 1px solid #fff;
    width: 39px;
}
.customer-account .cart .page-title h1{
	  margin-bottom: 17px;
}


.my-account input[type="email"], input[type="search"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"] {
    max-width: 100%;
    width: 409px;
}

.addresses-list .button{
	 font-size: 12px;
}

.addresses-primary h3{
	font-size:13px;
}

.scaffold-form {
    float: left;
    width: 100%;
}

.customer-address-form .select-box .opc_select_drop {
	  
    width: 406px;
}

.fa.fa-mobile {
    float: left;
}

.sales-order-history .data-table {
    float: left;
    width: 100%;
}

.sales-order-history .table-responsive {

    float: left;
    margin-bottom: 15px;
    overflow-y: hidden;
    width: 100%;
}

.wishlist-index-share textarea{
	border:1px #ccc solid;
}

.col3-set {
		font-family: 'Open Sans', sans-serif;
		margin-top:0px;
}


.cms .page-title {
    border-bottom: 3px solid #c7c7c7;
    margin-bottom: 15px;
    padding-bottom: 10px;
    width: 100%;
}

.right_col_tabrow p{
	font-family: 'Open Sans', sans-serif;
	font-size:20px;
	font-weight:300;
	color:#fff;
}

.right_col_tabrow p.spec_bold{
		font-family: 'Open Sans', sans-serif;
	font-size:25px;
	font-weight:600;
	color:#fff;
}

.right_col_tabrow .btn{
	border:2px #064983 solid;
	border-radius:5px;
	color:#064983;
		font-family: 'Open Sans', sans-serif;
	font-size:20px;
	padding:15px 30px;
	margin-top:15px;
}

.no-page {
    background:#38b5ed;
}
#contactForm{
	width:400px;
}
#contactForm input[type="email"] {
    max-width: 100%;
	width:100%;

}
.cms-content{
	width:100%;
	float:left;
	margin:10px 0px 30px 0px;
}
.sitecatul li.cat ul{
margin:0px!important;
padding:0px!important;	
	}

.sitecatul li.cat ul >li  > ul  {
	  list-style:none!important;
	  padding-left:15px!important;
}

.cancel-modal{
	max-width:500px;
	padding-top:10px;
}

.cancel-modal .modal-field{
	width:100%;
	float:left;
}
.cancel-modal label{
font-family: 'Open Sans', sans-serif;
 font-size: 15px;
 color:#636363;
 width:25%;
 float:left;
 padding-top:5px;
 font-weight:normal;
}



.cancel-modal input[type="email"], .cancel-modal input[type="text"]  {
    height: 35px;
    padding: 0 8px;
	margin-bottom:15px;
 float:left;
    width: 74% !important;
}
.cancel-modal .button2 {
    background:#d0d0d0;
    border: 0 none;
    cursor: pointer;
    margin: 0 4px 0px 0px;
    padding: 8px 10px;
    vertical-align: middle;
	float:right;
}

.cancel-modal .button2:hover  {
    background: #034984 none repeat scroll 0 0;
    color: #fff;  padding: 8px 10px;
}