<?php
    $root_cat_id=Mage::app()->getStore()->getRootCategoryId();
    $category = Mage::getModel('catalog/category')->load($root_cat_id);
    $categoryCollection=$category->getChildrenCategories();
?>
<div class="panel-heading"><?php echo $this->__('Categories');?><button data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" class="collapse_icn pull-right"><i class="fa fa-minus-square-o"></i></button></div>

<div class="panel-body in" id="collapseOne">
    <div class="tot_pad">
    <?php if($category->getIsActive()): ?>
    <?php foreach($categoryCollection as $category): ?>
            <a href="<?php echo $category->getUrl(); ?>" title="<?php echo $category->getName(); ?>" alt="<?php echo $category->getName(); ?>">
               <?php echo $category->getName();?>
            </a>
    <?php endforeach; ?>
    <?php endif; ?>
    </div> 
</div>