<?php
$collection = Mage::getModel('catalog/product')->getCollection();
$collection->addFieldToFilter('visibility', Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH);
$collection->addFieldToFilter('featured_product', '1')->setPageSize(10);
//echo $collection->count();
if($collection->count() > 0){
?>
<div class="listing_block_heading">
    <h2 class="pull-left"><?php echo $this->__('Featured Products');?></h2>
</div>

<div class="listing_prod">
    <ul class="bxslider clearfix" id="bx_2">
<?php
foreach ($collection as $product)
{
    $_product = Mage::getModel('catalog/product')->load($product->getId());
    ?>
	<li>
	    <div class="img_cont">
		<a href="<?php echo $_product->getProductUrl() ?>">
		<?php
		if($_product->getItemImage()!=''){
		//echo $_product->getItemImage();
		?>
		<img src="<?php echo $_product->getItemImage();?>" alt="" width="265" height="282"/>
		<?php } else { ?>
		
		<img src="<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->resize(263,280);?>" alt=""/>
		
		<?php } ?>
		</a>
	    </div>
        

	    <div class="listing_content text-center">
	    <h4><?php echo $_product->getName() ?></h4>
	    <p class="price_listing">
		<?php
                    if($_product->getSpecialPrice()>0)
                    {
                ?>
                <strike><?php echo $_formattedActualPrice = Mage::helper('core')->currency($_product->getPrice(),true,false); ?></STRIKE>
               
                <?php echo $_formattedSpecialPrice = Mage::helper('core')->currency($_product->getSpecialPrice(),true,false); ?>
                <?php }else { ?>
                <?php echo $_formattedActualPrice = Mage::helper('core')->currency($_product->getPrice(),true,false); ?>
                <?php } ?>
	    </p>
	    <a href="<?php echo $this->getAddToCartUrl($_product) ?>" class="btn btn-primary addtocart" title="<?php echo $this->__('Add to Cart') ?>" pid="<?php echo $_product->getId() ?>"><?php echo $this->__('Add to Cart') ?></a>
	           <div class="loading please-wait" style="display: none;">
    <img alt="" src="<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>"> <?php echo $this->__('Loading, please wait...'); ?>
</div> 
       
        </div>
	</li>
<?php } ?>
    </ul>
</div>
<?php }?>