<?php if ($this->canShowBlock()): ?>
    <?php if (!$this->getRequest()->isAjax()): ?>
    <div id="layered-navigation">
    <?php endif; ?>
    <div class="block block-layered-nav<?php if (!$this->getLayer()->getState()->getFilters()): ?> block-layered-nav--no-filters<?php endif; ?>">
        <!--<div class="block-title">
            <strong><span><?php echo $this->__('Shop By') ?></span></strong>
        </div>-->
        <div class="block-content toggle-content">
            <?php echo $this->getStateHtml() ?>
            <?php if ($this->getLayer()->getState()->getFilters()): ?>
                <div class="actions"><a href="<?php echo $this->getClearUrl() ?>"><?php echo $this->__('Clear All') ?></a></div>
            <?php endif; ?>
            <?php if($this->canShowOptions()): ?>
               
                <div id="narrow-by-list">
                    <?php $_filters = $this->getFilters() ?>
                    <?php
                     $i=1;
                    foreach ($_filters as $_filter): ?>
                        <?php if($_filter->getItemsCount()): ?>
                            <div class="panel panel-default">
                            
                            <div class="panel-heading"><?php echo $this->__($_filter->getName()) ?><button data-toggle="collapse" data-target="#collapse<?php echo $i?>" href="#collapse<?php echo $i?>" class="collapse_icn pull-right"><i class="fa fa-minus-square-o"></i></button></div>
                            <div class="panel-body in" id="collapse<?php echo $i?>"><div class="tot_pad"><?php echo $_filter->getHtml() ?></div></div>
                            </div>
                        <?php endif; ?>
                    <?php $i++;
                    endforeach; ?>
                </div>
                <script type="text/javascript">decorateDataList('narrow-by-list')</script>
            <?php endif; ?>
        </div>
    </div>
    <?php if (!$this->getRequest()->isAjax()): ?>
    </div>
    <?php endif; ?>
<?php endif; ?>
