<?php
$collection = Mage::getModel('catalog/product')->getCollection();
$collection->addFieldToFilter('visibility', Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH);
$collection->addFieldToFilter('is_special', '1');
$collection->getSelect()->order(new Zend_Db_Expr('RAND()'))->limit(1);
//echo $collection->count();
if($collection->count() > 0){
?>
 <div class="panel-heading">
  <?php echo $this->__('Special Offer');?><button data-toggle="collapse" data-target="#collapseThree" href="#collapseThree" class="collapse_icn pull-right"><i  class="fa fa-minus-square-o"></i></button>
 </div><div class="panel-body special_padd in" id="collapseThree">
 <div class="listing_prod">
 <?php
foreach ($collection as $product)
{
    $_product = Mage::getModel('catalog/product')->load($product->getId());
   
    ?>

	<a href="<?php echo $_product->getProductUrl() ?>">
        <img src="<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->resize(265,305);?>" class="img-responsive" alt="">
	</a>
		
<?php } ?>			
</div>	</div>				
<?php /*?>			
			
<div class="listing_block_heading">
    <h2 class="pull-left"><?php echo $this->__('Featured Products');?></h2>
</div>
<div id="loading" class="please-wait" style="display: none;">
    <img alt="" src="<?php echo $this->getSkinUrl('images/ajax-loader.gif'); ?>"> <?php echo $this->__('Loading, please wait...'); ?>
</div> 
<div class="listing_prod">
    <ul class="bxslider clearfix" id="bx_2">
<?php
foreach ($collection as $product)
{
    $_product = Mage::getModel('catalog/product')->load($product->getId());
    ?>
	<li>
	    <div class="img_cont">
		<a href="<?php echo $_product->getProductUrl() ?>">
		<img src="<?php echo Mage::helper('catalog/image')->init($_product, 'small_image')->resize(265,305);?>" alt=""/>
		<?php //if($_product->getSpecialPrice()>0){ ?>
			    <!--<img src="<?php //echo $this->getSkinUrl('images/sale.png') ?>" alt="" class="product_pic_sp" />-->
		    <?php// }?>
		</a>
	    </div>
	    <div class="listing_content text-center">
	    <h4><?php echo $_product->getName() ?></h4>
	    <p class="price_listing">
		<?php
		    if($_product->getSpecialPrice()>0)
		    {
		?>
		<strike><?php echo $_formattedSpecialPrice = Mage::helper('core')->currency($_product->getSpecialPrice(),true,false); ?></STRIKE>
		<?php } ?>
		<?php echo $_formattedActualPrice = Mage::helper('core')->currency($_product->getPrice(),true,false); ?>
	    </p>
	    <a href="<?php echo $this->getAddToCartUrl($_product) ?>" class="btn btn-primary" title="<?php echo $this->__('Add to Cart') ?>"><?php echo $this->__('Add to Cart') ?></a>
	    </div>
	</li>
<?php } ?>
    </ul>
</div><?php */?>
<?php }?>