<?php

$brands = $this->getCollection();
//print_r($brands);
//echo $brands->count();

foreach ($brands as $brand) {
 // echo $brand->getUrl();
    if($brand->getStatus() == 0){
    ?>

<a href="<?php echo Mage::getBaseUrl() . $brand->getUrl();?>" target="_blank"> <div class="item"><div class="table_item"><div class="table_cellitem"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $brand->getImage();?>" alt=""></div></div></div></a>

   <!--a href="<?php //echo $brand->getUrl();?>" target="_blank"> <div class="item"><div class="table_item"><div class="table_cellitem"><img src="<?php //echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . $brand->getImage();?>" alt=""></div></div></div></a-->
    
   
<?php } }
?>
                